.App {
  text-align: center;
  margin: 50px;
}

.Title {
  font-size: 2em;
  margin-bottom: 35px;
  text-shadow: 0 0 5px orange;
}

.TextArea {
  font-size: 1.5em;
  padding: 10px 15px;
  display: inline-block;
  margin-right: 25px;
  box-shadow: 0 0 5px orange;
}

.TextArea:focus {
    outline: none !important;
    border: 3px solid orange;
  }

.Markdown-Display {
  width: 500px;
  height: 570px;
  padding: 10px 15px;
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  text-align: left;
  word-wrap: break-word;
}
